<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">group_work</mat-icon>
      Le clan
    </ng-template>
    <br>Clan Work In Progress
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
      Les membres
    </ng-template>
    <br>Membres Work In Progress
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">chat</mat-icon>
      Contact
    </ng-template>
    <br>Contact Work In Progress
  </mat-tab>
</mat-tab-group>
